#frame {
    position: relative;
}

#controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    button {
        margin: 10px 5px;
        text-align: center;
        font-weight: bold;
        color: white;
        border: none;
        border-radius: 50%;
        transition: transform .2s linear;
        &:active {
            transform: scale(1.1);
        }
    }
}

.small-btn {
    width: 60px;
    height: 60px;
    font-size: 14px;
}

.big-btn {
    width: 80px;
    height: 80px;
    font-size: 16px;
}

#reset-item-btn {
    background-color: #f44336;
    &:active {
        background-color: #ef5350;
    }
}

#shuffle-btn {
    background-color: #2196f3;
    &:disabled {
        background-color: #78909c;
    }
    &:active:not(:disabled) {
        background-color: #42a5f5;
    }
}

#add-item-btn {
    background-color: #43a047;
    &:active {
        background-color: #4caf50;
    }
}
